<ActionBar title="My App">
</ActionBar>
<GridLayout>
  <AR #view trackingMode="FACE" 
    showStatistics="false"
    debugLevel="FEATURE_POINTS"
    faceMaterial_disabled="Assets.xcassets/wireframeTexture.imageset"
    (trackingFaceDetected)="trackingFaceDetected($event)">
  </AR>
</GridLayout>
